<h2>プロフィール編集</h2>
<%= form_with model: @customer,url: public_customers_mypage_path do |f| %>
  <label for="inputLast_name">氏</label>
  <%= f.text_field :Last_name, autofocus: true, id:"inputLast_name", placeholder:"Last_name"%>

  <label for="inputFirst_name">名</label>
  <%= f.text_field :First_name, autofocus: true, id:"inputFirst_name", placeholder:"First_name"%>
  
  

   
     
      <%= f.submit "変更を保存" %>  
      
   <div class="text-center font-bold text-red-500">    
  <%= link_to "退会する",  public_customer_confirm_path %>
</div>

<% end %>