<tr>
 <td><%#= order.id %></td>
<td>
<% order.items.each do |item| %>
		[商品ID:<%= item.good.goods_id %>]
		[商品名：<%= item.name %>]
		[数量：<%= item.price %>]
		[金額：<%= (item.total_price).to_i %>円]
		<br>
<% end %>
</td> 
 
 
 <td><%= order.name %></td>
        <td><%= order.shipping_address %></td>
        <td><%= order.payment_method %></td>
        </tr>
    <% end %>